*resharper.user
[Dd]ebug/
[Rr]elease/
build/
[Bb]in/
[Oo]bj/
*.suo
*.sln.cache
_ReSharper.*/
.idea*
*.resharper
resharper.settings.xml
*.user
[Bb]uild*
[Dd]ist
junit-report
junit
ProfilerMessage.java
0
*.g.csproj
temp-war-deps
/.gitversion.tmp
/.gitversion.short.tmp
*.vspscc
*.bak
*.scc
MSSCCPRJ.SCC
*.debug.css
Packages/
*.db

docs/api*

!build.bat
!*.ps1

!platforms/Microsoft.NET/StarterKit/vsix/DurandalMvcSpaTemplateVsix/packages