<section>
    <h2 data-bind="html:displayName"></h2>
    <blockquote data-bind="html:description"></blockquote>
    <h3>Features</h3>
    <ul data-bind="foreach: features">
        <li data-bind="html: $data"></li>
    </ul>
    <div class="alert alert-success">
      <h4>Read Me Please</h4>
        For more information about this starter project's architecture, please see the readme file located in the root of the project.
        For general documenation please visit <a href="https://github.com/EisenbergEffect/Durandal/wiki">the wiki</a> and if you can't find 
        answers to your questions there, we hope you will join our <a href="https://groups.google.com/forum/?fromgroups#!forum/durandaljs">google group</a>.
    </div>
</section>