<div>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <a class="brand" href="/">
                <i class="icon-home" style="font-size: 18px"></i>
                <span>Durandal</span>
            </a>
            <ul class="nav" data-bind="foreach: router.navigation">
                <li data-bind="css: { active: $parent.activeItem() && (moduleId == $parent.activeItem().__moduleId__) }">
                    <a data-bind="attr: { href: '#/' + url }, html: name"></a>
                </li>
            </ul>
            <div class="loader pull-right" data-bind="css: { active: !activeItem() || activeItem.isActivating }">
                <i class="icon-spinner icon-2x icon-spin"></i>
            </div>
            <form class="navbar-search pull-right" data-bind="submit:search">
                <input type="text" class="search-query" placeholder="Search">
            </form>
        </div>
    </div>
    
    <div class="container-fluid">
        <!--ko compose: activeItem--><!--/ko-->
    </div>
</div>