<div>
  <div class="jumbotron masthead">
    <div class="container">
      <h1>Durandal</h1>
      <p>Single Page Apps Done Right</p>
      
      <ul class="masthead-links">
        <li>
          <a href="http://github.com/BlueSpire/Durandal">GitHub Project</a>
        </li>
        <li>
          Version 1.0.0
        </li>
      </ul>
    </div>
  </div>

  <div class="bs-docs-social">
    <div class="container">
      <ul class="bs-docs-social-buttons">
        <li>
          <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=BlueSpire&amp;repo=Durandal&amp;type=watch&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
        </li>
        <li>
          <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=BlueSpire&amp;repo=Durandal&amp;type=fork&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="102px" height="20px"></iframe>
        </li>
        <li class="follow-btn">
          <iframe allowtransparency="true" frameborder="0" scrolling="no" src="http://platform.twitter.com/widgets/follow_button.1359159993.html#_=1359166838868&amp;id=twitter-widget-1&amp;lang=en&amp;screen_name=durandaljs&amp;show_count=true&amp;show_screen_name=true&amp;size=m" class="twitter-follow-button twitter-follow-button" style="width: 242px; height: 20px;" title="Twitter Follow Button" data-twttr-rendered="true"></iframe>
        </li>
        <li class="tweet-btn">
          <iframe allowtransparency="true" frameborder="0" scrolling="no" src="https://platform.twitter.com/widgets/tweet_button.html?hashtags=durandal&amp;original_referer=http%3A%2F%2Fdurandaljs.com&amp;size=m&amp;text=Check out Durandal for building awesome JS applications!&amp;via=durandaljs" class="twitter-share-button twitter-count-horizontal" style="width: 110px; height: 20px;" title="Twitter Tweet Button" data-twttr-rendered="true"></iframe>
        </li>
      </ul>
    </div>
  </div>

  <div class="container">
    <div class="marketing">
        <h1>Meet Durandal</h1>
        <p class="marketing-byline">Your search for a SPA framework ends here.</p>

        <div class="row-fluid">
          <div class="span4">
            <h2>Comfortable</h2>
            <p>We didn't try to re-invent the wheel. Durandal is built on libs you know and love like <a href="http://jquery.com/">jQuery</a>, <a href="http://knockoutjs.com/">Knockout</a> and <a href="http://requirejs.org/">RequireJS</a>. There's little to learn and building apps feels comfortable and familiar. <br/> Dive in and enjoy.</p>
          </div>
          <div class="span4">
            <h2>Feature-rich</h2>
            <p>MVC? MVP? MVVM? Yes. Messaging, navigation, modals? Check. Durandal has the features you need to build whatever apps you can imagine; <br/> the apps of today and of tomorrow. <br/> Let your creativity soar.</p>
          </div>
          <div class="span4">
            <h2>Versatile</h2>
            <p>Building an Android phone app? An enterprise LOB targeted at Windows? or a web gaming platform? No matter how large or small the app, it's effortless with Durandal....and we give you the tools to develop on any platform, for any platform.</p>
          </div>
        </div>
    </div>

    <hr class="soften" style="margin-top: 60px">

    <div class="row">
      <div class="span4">
        <img width="100%" src="Content\images\icon_256.png"></img>
      </div>
      <div class="span8">
        <h3>Features</h3>
        <ul data-bind="foreach: features">
            <li data-bind="html: $data"></li>
        </ul>
      </div>
    </div>

    <hr class="soften">

    <div class="marketing">
        <h1>Technologists</h1>
        <p class="marketing-byline">What are they saying?</p>
        <div class="row-fluid" style="text-align: left;">
            <blockquote>
              <p>Durandal is built to handle the plumbing and makes it easier for me to focus on building rich webs apps with JavaScript faster.</p>
              <small>John Papa, <cite title="Source Title">Author &amp; Microsoft Regional Director</cite></small>
            </blockquote>
      
            <blockquote>
              <p>Durandal brings capabilities from Caliburn.Micro to JavaScript clients that we sorely missed. Love the screen management and convention-based composition of Views and ViewModels.</p>
              <small>Ward Bell, <cite title="Source Title">V.P. of Technology - IdeaBlade</cite></small>
            </blockquote>

            <blockquote>
              <p>Rob set high standards with Caliburn.Micro...
When we develop WPF/Silverlight applications using it, we get better code organization,
flexibility and, ultimately, higher code quality and team productivity.
He's done it again with Durandal - which brings all of the same qualities to the world
of HTML5 applications. Amazing work!</p>
              <small>Srdjan Strbanovic, <cite title="Source Title">CTO - Cignium Technologies</cite></small>
            </blockquote>
        </div>
    </div>
  </div>
</div>