body,input{font-family:"proxima-nova";font-weight:300}
body{position:relative;font-size:16px}
blockquote{line-height:25px;margin:20px 0;}
blockquote p{font-size:16px}
blockquote small{line-height:25px}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{font-family:"proxima-nova";font-weight:bold}
h1{font-size:65px;letter-spacing:-3px;line-height:60px;text-align:center}
h1.h1-subhead{font-size:40px;letter-spacing:-1px;line-height:40px}
h2{color:#999;font-size:22px;font-weight:300;margin:0 0 0 0;text-align:center}
h3{font-size:45px;font-weight:100;letter-spacing:-1px;margin:60px 0 0 0;padding-bottom:20px}
h4{font-size:25px;font-weight:600;letter-spacing:-1px;margin:40px 0 20px}
p{line-height:25px;margin-bottom:20px;}
p.lead{line-height:35px}
hr{margin:0}
ul{list-style-type:square}
ol,ul{margin-bottom:20px}
li{line-height:25px}
a{color:#b20606;text-decoration:none}
figcaption{font-weight:600;margin-bottom:5px}
.navbar{-webkit-box-shadow:0 5px 40px rgba(0,0,0,0.2);-moz-box-shadow:0 5px 40px rgba(0,0,0,0.2);box-shadow:0 5px 40px rgba(0,0,0,0.2)}
.navbar-inverse .navbar-collapse{background-image:none;background-color:rgba(0,0,0,0.85);border-bottom:none}
.navbar .navbar-brand{color:rgba(255,255,255,0.8);font-size:25px;font-weight:400;text-transform:uppercase;font-family:"trajan-pro-3";position:relative;padding-top:15px;border-right:1px solid #4b4b4b}
.navbar .nav a{border-right:1px solid #4b4b4b}
.navbar .nav li a{color:#c8c8c8;font-size:11pt;font-weight:400}
.navbar .nav li a:hover{background-color:rgba(178,6,6,0.5)}
.navbar li.donate{margin:8px 10px -10px}
.nav.navbar-nav.navbar-right{margin-right:0}
.jumbotron{background-color:#b20606;background-size:100% 100%;color:#fff;position:relative;text-align:center}
.masthead{color:#fff;margin-bottom:0;padding:70px 0 30px}
.masthead h1{font-family:"trajan-pro-3";font-size:120px;letter-spacing:-2px;line-height:1;text-shadow:0 4px 0 rgba(0,0,0,0.3)}
.masthead p{font-size:45px;letter-spacing:-2px;text-shadow:0 2px 0 rgba(0,0,0,0.2);color:#fff}
.masthead-links{font-size:15px;margin:20px 0 0;list-style:none;padding:0}
.masthead-links li{color:rgba(255,255,255,0.5);display:inline;padding:0 10px;}
.masthead-links li a{color:inherit;text-decoration:underline}
.bs-docs-social{-webkit-box-shadow:0 15px 20px rgba(0,0,0,0.1);-moz-box-shadow:0 15px 20px rgba(0,0,0,0.1);box-shadow:0 15px 20px rgba(0,0,0,0.1);background-color:#f5f5f5;border-top:1px solid #fff;border-bottom:1px solid #ddd;padding:15px 0;text-align:center}
.bs-docs-social-buttons{margin-left:0;margin-bottom:0;padding-left:0;list-style:none}
.bs-docs-social-buttons li{display:inline-block;padding:5px 0;line-height:1;*display:inline;*zoom:1}
.google-group-icon{height:24px;position:relative;top:-2px}
.features{background:url("../images/icon_256.png") no-repeat 0 15px;margin-top:-40px;padding-left:250px}
.footer{background-color:#f5f5f5;border-top:1px solid #e5e5e5;margin-top:0;padding:30px 0;text-align:center}
.footer p{color:#777;margin:0;font-size:13px}
.subhead{text-align:left;border-bottom:1px solid #ddd;padding:80px 0 40px 0}
.subhead p{margin-bottom:20px}
.content{padding-top:80px;padding-bottom:40px;}
.content.home{padding-top:50px}
.content_alt{background-color:#efefef}
.page-header{border-bottom:1px solid #eee;padding-bottom:9px;margin:20px 0 30px}
.focus-banner{background-color:#b20606}
.focus-banner h1{color:#fff;text-shadow:0 2px 0 #000}
.focus-banner h2{color:#eee}
.focus-banner a{color:#fff;text-decoration:underline}
.prettyprint.linenums{-webkit-box-shadow:inset 40px 0 0 #fbfbfc,inset 41px 0 0 #ececf0;-moz-box-shadow:inset 40px 0 0 #fbfbfc,inset 41px 0 0 #ececf0;-webkit-box-shadow:inset 40px 0 0 #fbfbfc inset 41px 0 0 #ececf0;-moz-box-shadow:inset 40px 0 0 #fbfbfc inset 41px 0 0 #ececf0;box-shadow:inset 40px 0 0 #fbfbfc inset 41px 0 0 #ececf0}
pre.prettyprint{margin-bottom:20px}
pre{display:block;padding:9.5px;margin:0 0 10px;font-size:13px;line-height:18px;word-break:break-all;word-wrap:break-word;white-space:pre;white-space:pre-wrap;background-color:#f5f5f5;border:1px solid #ccc;border:1px solid rgba(0,0,0,0.15);-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
pre li{margin:0}
code,pre{padding:0 3px 2px;font-family:Monaco,Menlo,Consolas,"Courier New",monospace;font-size:12px;color:#333;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}
code{padding:2px 4px;color:#d14;white-space:nowrap;background-color:#f7f7f9;border:1px solid #e1e1e8}
.support-options{text-align:center;color:#fff;list-style-type:none;margin:0;padding:0;}
.support-options li{padding-left:0}
.support-options .feature-list{padding:0}
.product-image{-webkit-box-shadow:rgba(0,0,0,0.2) 0 0 7px;-moz-box-shadow:rgba(0,0,0,0.2) 0 0 7px;box-shadow:rgba(0,0,0,0.2) 0 0 7px}
.thumbnail{background-color:#fff;border:0;border-radius:2px;-webkit-box-shadow:rgba(0,0,0,0.5) 0 0 10px inset rgba(0,0,0,0.15) 0 0 0 1px inset rgba(255,255,255,0.1) 0 0 0 2px;-moz-box-shadow:rgba(0,0,0,0.5) 0 0 10px inset rgba(0,0,0,0.15) 0 0 0 1px inset rgba(255,255,255,0.1) 0 0 0 2px;box-shadow:rgba(0,0,0,0.5) 0 0 10px inset rgba(0,0,0,0.15) 0 0 0 1px inset rgba(255,255,255,0.1) 0 0 0 2px;padding:30px;}
.thumbnail h4{color:rgba(255,255,255,0.8);font-size:28px;margin:0 0 10px 0;padding-bottom:10px;text-align:left;border-bottom:1px solid rgba(255,255,255,0.3)}
.thumbnail.video{color:#000;border:none;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
.thumbnail.video iframe{-webkit-box-shadow:0 2px 7px rgba(0,0,0,0.2);-moz-box-shadow:0 2px 7px rgba(0,0,0,0.2);box-shadow:0 2px 7px rgba(0,0,0,0.2)}
.thumbnail.video h4{margin-top:16px}
.thumbnail.corporate{background:#11557f;-webkit-box-shadow:0 2px 7px rgba(0,0,0,0.3);-moz-box-shadow:0 2px 7px rgba(0,0,0,0.3);box-shadow:0 2px 7px rgba(0,0,0,0.3)}
.thumbnail.developer{background:#e5581f;-webkit-box-shadow:0 2px 7px rgba(0,0,0,0.3);-moz-box-shadow:0 2px 7px rgba(0,0,0,0.3);box-shadow:0 2px 7px rgba(0,0,0,0.3)}
.thumbnail.team{background:#b20606;-webkit-box-shadow:0 2px 7px rgba(0,0,0,0.3);-moz-box-shadow:0 2px 7px rgba(0,0,0,0.3);box-shadow:0 2px 7px rgba(0,0,0,0.3)}
.thumbnail form{margin:0}
.thumbnail .price{font-size:30px;font-weight:100;line-height:40px;margin-bottom:20px;text-align:left}
.thumbnail .btn-block{-webkit-box-shadow:1px 1px rgba(0,0,0,0.2);-moz-box-shadow:1px 1px rgba(0,0,0,0.2);box-shadow:1px 1px rgba(0,0,0,0.2);box-sizing:border-box;display:block;width:100%}
.feature-list{margin:20px 0;list-style:none;}
.feature-list li{text-align:left}
.thumbnail .btn{margin-top:10px}
.docs img{margin-left:auto;margin-right:auto;display:block;border:4px solid #fff;-webkit-box-shadow:rgba(0,0,0,0.5) 0 0 20px;-moz-box-shadow:rgba(0,0,0,0.5) 0 0 20px;box-shadow:rgba(0,0,0,0.5) 0 0 20px}
.latest{font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;letter-spacing:1px;position:relative;top:-20px;font-size:12px}
li.media{padding:20px;}
li.media img.media-object{-webkit-box-shadow:rgba(0,0,0,0.5) 0 0 20px;-moz-box-shadow:rgba(0,0,0,0.5) 0 0 20px;box-shadow:rgba(0,0,0,0.5) 0 0 20px;border:1px solid #000;width:64px}
@media (max-width: 979px){.navbar-fixed-top{margin-bottom:0}
}@media (max-width: 767px){body{font-size:15px}
blockquote{margin-bottom:20px;}
blockquote p{font-size:15px}
blockquote small{line-height:25px}
h1{font-size:55px}
h2{font-size:22px}
h3{font-size:25px}
p{line-height:1.7}
hr{margin:35px 0 25px}
.jumbotron{margin:-20px -20px 0 -20px;padding:40px 20px}
.masthead h1{font-size:70px}
.masthead p{font-size:25px;letter-spacing:-1px;margin:0}
.masthead-links{margin:0}
.bs-docs-social,.footer{margin:0 -20px}
.features{background-size:160px;padding-left:170px}
.navbar-fixed-top{margin-bottom:20px}
}@media (max-width: 480px){body{font-size:15px}
blockquote{margin-bottom:20px;}
blockquote p{font-size:15px}
blockquote small{line-height:25px}
h1{font-size:35px;letter-spacing:-1px}
h2{font-size:22px;line-height:32px;margin:0 0 30px 0}
h3{font-size:25px}
p{line-height:1.7}
hr{margin:25px 0 15px}
.masthead h1{font-size:45px}
.masthead p{font-size:19px;letter-spacing:0}
.masthead-links{font-size:13px}
.marketing{margin-top:40px}
.features{background:none;padding-left:0}
}