@using System.Web.Optimization
<!DOCTYPE html>
<html>
    <head>
        <title>Durandal</title>

        <link rel="apple-touch-startup-image" href="~/Content/images/ios-startup-image-landscape.png" media="(orientation:landscape)" />
        <link rel="apple-touch-startup-image" href="~/Content/images/ios-startup-image-portrait.png" media="(orientation:portrait)" />
        <link rel="apple-touch-icon" href="~/Content/images/icon.png"/>
        
        @Styles.Render("~/css/vendor")
        @Styles.Render("~/css/app")

        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="format-detection" content="telephone=no"/>
    
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <div id="applicationHost"></div>
        
        @Scripts.Render("~/scripts/vendor")
        
        @if (HttpContext.Current.IsDebuggingEnabled) {
            <script type="text/javascript" src="~/App/vendor/require.js" data-main="App/main"></script>
        } else {
            <script type="text/javascript" src="~/App/main-built.js"></script>
        }
    </body>
</html>